* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  min-height: 100vh;
  background-color: #f8f8f8;
}

/* --------------------------------------------------------- */

#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  width: 50%;
  height: 60%;
}
#modal h2 {
  margin-bottom: 1rem;
}
.player-names-input {
  padding: 1rem;
}
.player-names-input label {
  font-size: 16px;
}
.player-names-input input {
  padding: 0.4rem;
  font-size: 16px;
}
.start-game-btn {
  padding: 0.4rem 1rem;
  margin-top: 2rem;
  font-size: 16px;
  cursor: pointer;
}

/* --------------------------------------------------------- */

h1 {
  background-color: #d9d9d9;
  height: 70px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 0.1rem;
}
.players-section {
  display: none;
  margin-top: 2rem;
  text-align: center;
  font-size: 16px;
  /* display: flex; */
  justify-content: space-around;
}
.game-section {
  display: none;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.reset-btn {
  padding: 15px 20px;
  background-color: #5c5c5c;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #f8f8f8;
  cursor: pointer;
}
.reset-btn:focus {
  color: #5c5c5c;
  background: #f8f8f8;
}
.game-board {
  width: 540px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: 4rem auto;
}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #f8f8f8;
  transform: rotateY(180deg);
  transition: 0.25s;
}
.card.card-open {
  transform: rotateY(0deg);
}
.card::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #5c5c5c;
  opacity: 0.8;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.card-open::after,
.card-match::after {
  transform: rotateY(180deg);
}
