* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  min-height: 100vh;
  background-color: #f8f8f8;
}
h1 {
  background-color: #d9d9d9;
  height: 70px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 0.1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-btn {
  padding: 15px 20px;
  background-color: #5c5c5c;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #f8f8f8;
  cursor: pointer;
}
.reset-btn:focus {
  color: #5c5c5c;
  background: #f8f8f8;
}
.game-board {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: 4rem auto;
}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #f8f8f8;
  transform: rotateY(180deg);
  transition: 0.25s;
}
.card .card-open {
  transform: rotateY(0deg);
}
.card::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #5c5c5c;
  opacity: 0.8;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.card-open::after {
  transform: rotateY(180deg);
}
